@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-200;
}

input, button {
  @apply focus:outline-none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
